*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

button:focus {
  outline: none !important;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background: linear-gradient(180deg, #FF7C3F 0%, #EDA786 56.6%, #F6F6F6 86.52%, #F6F6F6 100%), #191238;
  color: #ffffff;
  font-family: 'Montserrat',sans-serif;
  overflow-x: hidden;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

@mixin mq($size) {
  @media screen and (min-width: $size) {
    @content;
  }
}

.main {
  &-container {
    padding-top: 50px;
    overflow-x: hidden;
    @include mq(600px)
    {
      padding-top: 82px ;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
  }

  &-logo {
    width: 187px;
    height: 40px;
    z-index: 2;

    @include mq(600px)
    {
      height: 48px;
    }
  }

  &-texts {
    padding: 24px 0 24px 0;
    z-index: 2;
    @include mq(600px)
    {
        padding: 30px 0 24px 0;
    }
    text-align: center;
    h2 {
      font-weight: 700;
      font-size: 16px;
      padding-bottom: 12px;
      text-transform: uppercase;
      color: #131E3C;
      @include mq(600px)
      {
        padding-bottom: 0px;
      }
    }

    h1 {
     
      font-size: 34px;
      line-height: 38px;
      max-width: 286px;
      text-transform: uppercase;
      color: #131E3C;
      font-weight: 800;

      @include mq(600px)
      {
        max-width: max-content;
      }
    }

    
  }
}

.counter {
  text-align: center;

  &-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;

    h3 {
 
      font-size: 13px;
      line-height: 20px;
      color: #131E3C;
      font-weight: 600;
      padding-bottom: 9px;
    }

    &_labels {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding-bottom: 32px;

      &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: #000000;
        background: #131E3C;
        width: 66px;
        height: 68px;
        border-radius: 6px;

        &-number {
          font-size: 16px;
          line-height: 24px;
          font-weight: 800;
          color: #FFFFFF;
        }

        &-text {
          font-weight: 600;
          font-size: 10px;
          line-height: 12px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
  }
}

.main-button {
  background: none;
  border: none;
  position: relative;
  background-image: url("/assets/button.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 178px;
  height: 48px;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  z-index: 2;

  transition: transform 350ms ease-in-out;
      &:hover{
        transform: scale(1.1);
      }
}

.main-image {
  transform: scale(2);
  z-index: 1;
  margin-top: -50px;
  
  

  @include mq(600px)
  {
    transform: scale(1.5);
    margin-top: -200px;
  
  }

  @include mq(800px)
    {
      transform: scale(1.4);
    }

  @include mq(1024px)
  {
    transform: scale(1.2);
    margin-top: -290px;
    
  }

  @include mq(1560px)
  {
    max-width: 1300px;
    transform: scale(1);
  }
}
.steps {
  margin-top: 100px;
  text-align: center;
  color: #131E3C;

  @include mq(600px)
  {
    margin-top: 80px;
  }

  @include mq(1024px)
  {
    margin-top: 30px;
  }

  @include mq(1500px)
  {
    margin-top: 0px;
  }

  &-title
  {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-transform: uppercase;

    @include mq(600px)
    {
        font-size: 24px;
        line-height: 32px;
    }
  }
  
  &-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 16px 0 56px 0;
    position: relative;

    @include mq(600px)
    {
        flex-direction: row;
        gap:40px;
        padding: 16px 0 64px 0;

    }

    &::before
    {
        content: '';
        display: block;
        position: absolute;
        background-image: url('/assets/vector_lambo_BG.svg');
        background-size: 100% 100%;
        width: 100%;
        min-height: 100%;
        transform: scale(2);
        top:20px;
        left:105px;
        z-index: -1;
      

        @include mq(600px)
        {
          top:220px;
          transform: scale(4.8);
        }

        @include mq(1500px)
        {
          top:320px;
          transform: scale(6);
        }
    }
  }
}

.step {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 67px;
  padding-right: 67px;
  gap: 18px;

  @include mq(600px)
  {
    padding-inline:0;
    gap:12px;
   
  }

  h2 {
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    max-width: 190px;

    @include mq(600px)
    {
      font-size:13px;
      line-height: 17px;
      max-width: 140px;
    }
  }

  img {
    width: 23px;
    height: 32px;
    margin-top: 4px;

    @include mq(600px)
    {
      width: 32px;
      height: 45px;
      margin-top: 0;
    }
  }
}

.bottom-gallery
{
    text-align: center;
    padding-inline:20px;
    color: #131E3C;
    h2
    {
        font-weight: 700;
        font-size: 20px;
        line-height:26px;
        text-transform: uppercase;
        margin-bottom: 24px;

        @include mq(600px)
        {
          font-size: 24px;
          line-height: 32px;
        }
    }

    iframe
    {
      border-radius: 12px;
      width: 100%;
      margin-bottom: 20px;
      width: calc(100vw - 40px);
      max-width: 630px;
      min-height: 180px;

      @include mq(600px)
      {
        height: 354px;
        margin-bottom: 40px;
      }
    }
}

footer
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 24px;
  gap:16px;

  p
  {
    max-width: 460px;
    padding-inline:20px;

    @include mq(650px)
    {
      max-width: 620px;
      padding-inline:0;
    }
  }

  a 
  {
    margin-right: 10px;
  }

  button
  {
    cursor: pointer;
  }

 
}

.pic
{
  width: 100%;

}


.swiper {
  width: 100%;
  height: 80px;

  @include mq(600px)
  {
    height: 104px;
  }

  &-container
  {
    max-width: 670px;
    width: 100vw;
    padding-inline:20px;
   
    @include mq(600px)
    {
      width: 100%;
     
    }
  }
}


.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;


}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.arrows-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:32px;
  margin-top: 23px;
  margin-bottom: 48px;

  img 
  {
    cursor: pointer;
  }
}

//modal

.modal-overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 2vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #000000da; /* Fallback color */
 z-index: 4;
}

@media  screen and (min-height:800px) {

  .modal-overlay {
  display: flex;
  justify-content:center;
  align-items: center;
  }
}

.modal {
  text-align: center;
  background-color: white;
  width: 100%;
  max-width: 360px;
  padding: 60px 0;
  border-radius: 20px;
  margin-inline:auto ;
  position: relative;
  margin-bottom: 10px;
  max-height: 650px;
  overflow: auto;

  @include mq(600px)
  {
    max-height: 750px;
    max-width: 560px;
  }

  @include mq(2000px)
  {
    max-height: 950px;
  }
}
.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
  position: absolute;
  top:-20px;
  right:20px;
  font-size: 16px;
}

.close-img {
  width: 25px;
}

.modal
{
  color:black;
  padding-inline:60px;

  p
  {
    font-size: 12px;
    padding-bottom: 4px;
  }
  
}
.close
{
  color:black;

}

/**
Players Component
*/
.players {
  margin: 0 20px 100px 20px ;
  text-align: center;
  @include mq(600px) {
    width: 554px;
    margin-top: 16px;
  }
  @include mq(1024px) {
    width: auto;
    margin-top: 36px;
  }
  @include mq(1530px) {
    margin-bottom: 120px;
  }
  &__title {
      text-transform: uppercase;
      margin-bottom: 24px;
      font-size: 24px;
      font-weight: 900;
      &--mobile {
        display: block;
        @include mq(1024px) {
          display: none;
        }
      }
      &--desktop {
        display: none;
        @include mq(1024px) {
          display: block;
        }
      }
      @include mq(600px){
        margin-bottom: 24px;
      }
      @include mq(1024px) {
        font-size: 40px;
        margin-bottom: 32px;
      }
  }
  &__wrapper {
      text-align: center;
      background-color: #1A1A1A;
      border-radius: 16px;
      padding: 32px 30px 24px 30px;
      @include mq(600px) {
        padding: 32px 0 48px 0;
      }
      @include mq(1024px) {
        padding: 34px 68px 40px 68px;
      }
      @include mq(1560px) {
        padding: 40px 68px;
      }
  }
  &__subtitle {
      color: #818181;
      font-size: 12px;
      font-weight: 700;
      margin: 0;
      margin-bottom: 18px;
      display: none;
      @include mq(1024px) {
        display: block;
      }
  }
  &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 12px 32px;
      margin: 0 auto;
      @include mq(600px) {
        max-width: 260px;
      }
      @include mq(1024px) {
        grid-template-columns: 1fr 1fr;
        max-width: none;
      }
      &-item {
          text-align: left;
          width: 100%;
          background-color: #2C2C2C;
          border-radius: 8px;
          padding: 10px 16px;
          font-size: 14px;
          @include mq(1024px) {
            width: 260px;
          }
      }
  }
}